<html>
<head>
    <title>LiveServer</title>
    <meta charset="UTF-8">
    <meta name="description" content="Open CV Live Camera">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Teeradon Chanhom">
</head>
<body>
    <div class="container" style="display: flex; flex-direction:column;
    justify-contents: center; align-items: center;">
        <h1>Video Streams</h1>
        <img src="{{url_for('video_feed')}}" width="60%" alt="Camera is opened
        by other user">
        <p>Video don't show up? Maybe other user are using camera. Contact admin
        for help!</p>
    </div>
</body>
<html>
